
<h2>Assignments for <%= @uopuser.name%> </h2>
	
<div class="uopuser">
	<p>email: <%= @uopuser.email %></p>
	<p>uid: <%= @uopuser.uid %></p>
</div>
	
<div class="assignments">	
	<%if @assignments.count == 0 then%>
		None
	<%else%>
		<table>
			<% @statuses.each do |s|%>
				<tr><th><%=s.to_s%></th></tr>
				<% @assignments.each do |a|%>
					<% if a.url.state == s then %>
						<tr>
							<td style="<%= 'background-color:#ffff99;' if a.url.id.to_s == params[:last_saved_url]%>"><a href="<%=site_url_path(a.url.site.id,a.url.id)%>"><%=a.url%></a><td> 
						</tr>
					<% end %>	
				<% end %>
			<% end %>
		</table>
	<%end%>
</div>
<br>
