<div class="controls">

  
    <%= form_for :url, url: site_url_path(@url.site, @url), method: 'PUT', html: { id: 'url_form' } do |f| %>

 		<div>
			<% if @url.assignment.nil? %>
				Not assigned
			<%else%>	
				Assigned to: <%= @url.assignment.uopuser.name %><br/><br/>
			<%end%>
    	</div> 
	  
			<%url = @url%>
			<%= check_box_tag "url_select[#{url.id}]", '1', (url == @url or params["url_select"].try(:[], url.id.to_s)), disabled: url == @url %><%= link_to_if url != @url, url.request_uri, site_url_path(@site, url, url_filter_hash), title: url.url %> - (<%= url.title %>) 
			
			
      <%= render "shared/error_messages", target: @url %>
      <%= render "url_filter_hidden_fields" %>
      <%= hidden_field_tag :q, params[:q] if params[:q].present? %>
      
      
      <div class="inputs-block comments">
        <%= f.text_area :comments, placeholder: 'Comments...', cols: "5", rows: "5" %>
      </div>      
      <div class="inputs-block">
        <ul class="destinies">
          <%= content_tag :li do %>
            <%= link_to 'Same as last saved', '#', id: 'same_as_last', 'data-last-saved-url' => @last_saved_url.to_json %>
          <% end if @last_saved_url %>
          <li><%= button_tag 'Needs updating', name: 'destiny', value: 'updating', class: "#{@url.state == :updating ? 'selected ' : ''}updating" %></li>
          <li><%= button_tag 'Updated, ready for migration', name: 'destiny', value: 'updated', class: "#{@url.state == :updated ? 'selected ' : ''}updated" %></li>
          <li><%= button_tag 'Ignore', name: 'destiny', value: 'ignore', class: "#{@url.state == :ignore ? 'selected ' : ''}ignore" %></li>
          <li><%= button_tag 'Migrated', name: 'destiny', value: 'migrated', class: "#{@url.state == :migrated ? 'selected ' : ''}migrated" %></li>
					<% if @url.assignment == nil%>
          	<li><%= link_to 'Exit', site_urls_path(@url.site), class: 'cancel button' %></li>
					<%else%>
						<li><%= link_to 'Exit', uopuser_assignments_path(@url.assignment.uopuser), class: 'cancel button' %></li>
					<% end %>
        </ul>
      </div>
		<%end%>	
		<iframe width="1024" height="768" src="<%=@url.url%>"></iframe>
</div>